.actividadBoard,.restructBoard{
	background:#222222;
	color:#ddd;
	padding-top: 115px;
	padding-left: 215px;
}
.actividadBoard h2{
	border-bottom:1px solid #555;
	padding-bottom: 10px;
	text-align: right;
}
.actividadBoard h2 span{opacity: 0;}

.restructBoard{background: #ececec;color:#333;padding-left: 15px;}

.generalFig, .historial figure{
	padding: 15px;
	background: #444;
}
.generalFig img,.generalFig .actIcon{
	display: inline-block;
	width: 46%;
	margin:0 2%;
	vertical-align: top;
}
.generalFig .userData{
	display: inline-block;
	vertical-align: top;
	width: 48%;
}
.generalFig .actIcon{font-size: 130px;}

.historial figure{margin-bottom: 8px;opacity: 0;}
.historial figure i{margin-right: 8px;}

.pedido{background: #555;margin-bottom: 8px;}
.pedido .pedProducto,.pedido .pedVendedor{padding: 10px 15px;}
.pedido .pedProducto img{width: 20% !important;margin-right: 1%;}
.pedido .pedProducto img,.pedido .pedProducto aside, .pedVendedor aside{display: inline-block;vertical-align: top;width: 49%;}
.pedVendedor aside button{display: block; margin: 6px auto;width: 64%;position: relative;}
.anyForm{
	position: absolute;
	right: -100%;
	top:0;
	background: #222222;
	padding: 5px 10px;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.showingAnyForm{right: 0;z-index: 100;}
.anyForm form textarea{width: 100%;color:#333;}

.moreCompras{
	padding: 15px;
	background: #555;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	border: 2px solid #555;
}
.moreCompras:hover{background: none;}

.floatLeft{float: left;}
.half{
	width:49%;
	display:inline-block;
	vertical-align: top;
}

.sideText,.half input{display:inline-block;	vertical-align: middle;}

.subirProducto{font-size: 18px;}

.prodCont{display: none;}

.productoForm #video + label{margin-top: 10px;}
.productoForm .botones,.editProdForm .botones{text-align: center;margin-top: 20px;}
.productoForm .botones button,.editProdForm .botones button{margin:0 2%;}

.abrirTiendaForm{display: block;margin: 30px auto;}
.tiendaForm{margin: 40px 0;display: none;}

.prodList{padding: 10px;}
.venta{
    background: none;
    border: 1px solid #FF8D00;
    margin-bottom: 8px;
}
.venta b{color:#FF8D00;}
.venta .vedProducto, .venta .vedTransaccion{padding: 15px;position: relative;}
.venta .vedProducto img{width: 30% !important; margin-right: 1%;}
.venta .vedProducto aside, .venta .vedProducto img, .vedTransaccion aside{display: inline-block;vertical-align: top;width: 49%;}
.vedTransaccion aside button{display: block; margin: 6px auto;width: 64%;position: relative;}
.vedTransaccion aside .btn-group{width: 100%;}
.vedTransaccion aside .btn-group .dropdown-menu{
    position: relative;
    width: 250px;
    background: #222222;
    border: 1px solid #FF8D00;
    padding: 10px;
}

.oldImages{padding: 15px;display: block;margin: 10px auto;width: 100%;border-radius: 6px;border: 1px solid #ddd;}
.oldImages figure{display: inline-block;vertical-align: top;width: 20%;position: relative;}
.oldImages figure figcaption{background: rgba(0,0,0,0.8);width: 100%;height: 50%;position: absolute;top:0;left: 0;text-align: center;}
.oldImages figcaption .yes,.oldImages figcaption .no{margin: 0 3%;}
.oldImages img{width: 100%;}

.preRemoveOldVid{cursor: pointer;color: #FF8D00;}

.prodSorter{
    opacity: 1 !important;
    font-size: 18px;
}
.prodSorter select{
    background: none;
    color: #ddd;
    border-radius: 4px;
}
.prodSorter select option{background: #222222;}

.storeTable{position: relative;width: 100%;}
.storeTable table{border-collapse: separate;font-size: 18px;border-spacing: 10px;}
.storeTable thead th {margin-bottom: 10px;}
.storeTable th,.storeTable td{text-align: center;color: #FF8D00;padding: 0;}
.storeTable td{background: #333;padding: 15px;}
.storeTable td:first-child{text-align: left;}
.storeTable th:first-child{background: none;color: white;}
.storeTable img{width: 50%;display: block;margin: 0 auto;}
.storeTable tbody tr:last-child td{background: none;}

.storeTable thead tr th,.storeTable tbody tr td{width: 20%;}
.storeTable thead tr th:first-child,.storeTable tbody tr td:first-child{width: 40%;}

.storeList{display: none;}
.storeList .plan{border:1px solid #FF8D00;margin-bottom: 10px;padding: 15px;color:#FF8D00;}
.storeList .plan img, .storeList .planLogo aside{vertical-align: top;display: inline-block;width: 39%;}
.storeList .plan img{margin-right: 1%;}
.storeList .planLogo aside{width: 58%;}
.storeList .planFeatures li{margin: 6px 0;}

.features{display: block;margin: 0 auto;width: 60%;}

.lastStep{display: none;opacity: 0;}

.tiendaData{font-size: 16px;}
.tiendaData img,.editTiendaForm img{width: 100%;}
.tiendaData b, .editTienda{color: #FF8D00;}

.tiendaAjustes button{display: block; width: 100%;margin: 10px auto;}
.tiendaAjustes aside{width:100%;margin-top: 20px;}
.tiendaAjustes aside img,.editTiendaForm figure{width: 50%;display: block;margin: 0 auto;position: relative;}

.editTiendaForm{display: none;}
.editTiendaForm figure figcaption{position: absolute;bottom: 0;padding: 15px;background: rgba(0,0,0,0.8);width: 100%;}

.inventario{border-bottom: 1px dashed #FF8D00;}
.inventario .controls button{width: 100%;margin: 6px auto;}
.inventario .qtyForm #existencia{font-size: 24px;width: 70%;margin: 8px auto;display: block;color: #333;text-align: center;}
.inventario .qtyForm button{display: block;margin: 8px auto;}

.cogCenter{position: relative;width: 260px;display: block;margin: 0 auto;}
.cogCenter .fa-cog{position: absolute;}
.cogCenter .fa-cog:nth-child(1){top:0;left: 4%;}
.cogCenter .fa-cog:nth-child(2){
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    font-size: 150px;
    color: #FF8D00;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-animation: spin-reverse 2s infinite linear;    
    animation: spin-reverse 2s infinite linear;
}
.cogCenter .fa-cog:nth-child(3){bottom:0;left: 4%;}

.newPackage,.normalPackage{position: relative;height: 100px;}
.normalPackage aside,.newPackage aside{position: relative;width: 100%;overflow: hidden;height: 260px;}
.newPackage img,.normalPackage img{position: absolute; width: 40%;opacity: 0;}

/***********************   DROPZONE CSS **********************/
.dropzone {
    border: 2px dashed #FF8D00 !important;
    border-radius: 5px;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 15px;
}

#dZVideo, #dZVideoEdit{min-height: 80px;height: auto;}
#dZVideo .dz-message,#dZVideoEdit .dz-message{margin: 10px 0;}
#dZVideo .dz-preview,#dZVideoEdit .dz-preview,#dZUploadLogo .dz-preview{
    display: block;
    width: 50% !important;
    height: auto;
    margin: 0 auto;
}
#dZUploadLogo .dz-preview{width: 90% !important;}
#dZUploadLogo .dz-image img{width: 100% !important;}

#dZVideo .dz-image,#dZVideoEdit .dz-image,#dZUploadLogo .dz-image{width: 100%;height: auto;}
#dZVideo .dz-details,#dZVideoEdit .dz-details{height: 60px;opacity: 1;background: rgba(0,0,0,0.8);text-align: left;padding: 8px;}
#dZVideo .dz-details .dz-size,#dZVideoEdit .dz-details .dz-size{margin-bottom: 4px;}


.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone.dz-started .dz-message {
    display: none;
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}
.dropzone .dz-message {
    font-weight: 400;
}
.dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
    color: #ddd;
    font-size: 20px;
}

.dropzone .dz-preview:hover .dz-details {
    opacity: 1;
    background: rgba(0,0,0,0.8);
}
.dropzone .dz-preview.dz-image-preview .dz-details {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.dropzone .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    height: 86%;
    padding: 2em 1em;
    text-align: center;
    color: #FF8D00;
    line-height: 150%;
}

.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
}

.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 1em;
    font-size: 16px;
	
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropzone .dz-preview .dz-details .dz-filename {
    white-space: nowrap;
}

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 0.4em;
    border-radius: 3px;
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
    border: 1px solid transparent;
}

.dropzone.dz-clickable * {
    cursor: default;
}

.dropzone .dz-preview .dz-image {
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    display: block;
    z-index: 10;
}

.dropzone .dz-preview .dz-image img {
    display: block;
}

.dropzone .dz-preview.dz-complete .dz-progress {
    opacity: 0 !important;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}
.dropzone .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.dropzone .dz-preview .dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    height: 6px;
    left: 0;
    bottom:0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(1);
    overflow: hidden;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress { 
    -webkit-animation: pulse 6s ease infinite; 
    -moz-animation: pulse 6s ease infinite; 
    -ms-animation: pulse 6s ease infinite; 
    -o-animation: pulse 6s ease infinite; 
    animation: pulse 6s ease infinite; 
}

.dropzone .dz-preview .dz-progress .dz-upload {
    background: #FF8D00;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}

.dropzone .dz-preview .dz-error-message {
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    display: block;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    font-size: 13px;
    top: 130px;
    left: -10px;
    width: 140px;
    background: #be2626;
    background: linear-gradient(to bottom, #be2626, #a92222);
    padding: 0.5em 1.2em;
    color: white;
}

.dropzone .dz-preview.dz-success .dz-success-mark {
    -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
}

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
    display: block;
    width: 54px;
    height: 54px;
}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
}

.dropzone .dz-preview .dz-remove{cursor: pointer;}

@-webkit-keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@-moz-keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@-webkit-keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@-moz-keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@-webkit-keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
@-moz-keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
@keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }

/********************  END OF DROPZONE CSS  ******************/

@media  screen and (min-width: 320px) and (max-width: 480px){
    .actividadBoard{padding: 15px;overflow: hidden;}
    .side-wrapper{display: none;}
    .up-wrapper{display: block;}
    .actividadBoard h2{text-align: left;font-size: 20px;}
    .generalFig .actIcon{font-size: 100px;}
    .historial .floatRight{float:none;}
    .subirProducto,.slideRight,.prodSorter{width: 100%;}
    .subirProducto + .slideRight{font-size: 19px;}
    .prodSorter{font-size: 16px;margin-bottom: 10px;}
    .cornerRightTop{top:2px;right: 2px;}
    .cornerRightTop button{padding: 3px 6px;}
    .venta .vedProducto img{width: 40% !important;}
    .venta .vedProducto aside{width: 55%;}
    .half{width: 100%;}

    .botones button{width: 90%;margin: 8px auto !important;}
    #dZVideo .dz-success,#dZVideoEdit .dz-success{width: 96% !important;}
    .dropzone .dz-preview{margin: 16px auto;display: block;text-align: center;}
    .dropzone .dz-preview .dz-image{margin: 0 auto;}
    .oldImages figure{width: 100%; margin:10px auto;}
    .oldVideo .floatRight{margin: 12px auto;text-align: center;float:none;width: 100%;display: block;}

    .vedTransaccion aside{width: 100%;}
    .vedTransaccion .btn-group button,.vedTransaccion aside .btn-group .dropdown-menu,
    .vedTransaccion aside button{width: 100%;}

    .storeTable {display: none;}
    .storeList{display: block;}
}

@media  screen and (min-width: 481px) and (max-width: 767px){
    .actividadBoard{padding: 15px;overflow: hidden;}
    .side-wrapper{display: none;}
    .up-wrapper{display: block;}
    .actividadBoard h2{text-align: left;font-size: 20px;}
    .upbar-nav li{width: 19%;}
    .upbar-nav li a{text-align: center;font-size: 16px;}
    .historial .floatRight{float:none;}

    .subirProducto.floatLeft{float:none;display: inline-block;}
    .prodSorter{font-size: 16px;margin-bottom: 10px;width: 100%;}
    .vedTransaccion aside button{width: 100%;}  
    .oldImages figure{width: 32%;}
    #dZVideo .dz-success,#dZVideoEdit .dz-success{width: 96% !important;}
    .productoForm .botones, .editProdForm .botones{margin-bottom: 10px;}
    .storeTable {display: none;}
    .storeList{display: block;}

    .storeList .planLogo{width: 30%;display: inline-block;vertical-align: top;}
    .storeList .planLogo img,.storeList .planLogo aside{width: 100%;text-align: center;}
    .storeList .planFeatures{width: 68%;margin-left:1%;display: inline-block;vertical-align: top;}
}

@media  screen and (min-width: 768px) and (max-width: 991px){
    .actividadBoard{padding-left: 170px;padding-top: 80px;overflow: hidden;}
    .up-wrapper{display: none;}
    .side-wrapper{width: 160px;height: 50%;}
    .sidebar-nav li a, .subMenu li a{font-size: 20px;}
    .generalFig img{width: 114px;}
    .generalFig .actIcon{font-size: 120px;}
    .vedTransaccion aside button{width: 100%;}  
    .productoForm .botones, .editProdForm .botones{margin-bottom: 10px;}
    #dZVideo .dz-success,#dZVideoEdit .dz-success{width: 75% !important;}
    /*footer .container .row{padding-left: 180px;}*/
    .storeTable img{width: 80px;}
    .storeTable table{font-size: 14px;}

}

@media  screen and (min-width: 992px) and (max-width: 1200px){
    .actividadBoard{overflow: hidden;}
    .generalFig img{width: 100px;}
    .generalFig .actIcon{font-size: 100px;}
    .generalFig .progress{width: 100%;}
    .sidebar-nav li a{font-size: 20px;}
    .vedTransaccion aside button{width: 100%;font-size: 12px;}
    .half{width: 100%;}
    .productoForm .botones, .editProdForm .botones{margin-bottom: 10px;}
    .oldVideo .floatRight{margin: 12px auto;text-align: center;float:none;width: 100%;display: block;}

}
@media  screen and (min-width: 1200px) and (max-width: 1500px){
    .actividadBoard{overflow: hidden;}
    .sidebar-nav li a{font-size: 20px;}
    .generalFig .actIcon{font-size: 100px;}
    .productoForm .botones, .editProdForm .botones{margin-bottom: 10px;}
    .vedTransaccion aside button{width: 80%;font-size: 12px;}

}

/************************* CSS ACTIVIDAD ANIMATIONS ***************************/
.glow{
    -webkit-animation:glow 2s ease infinite;
    -moz-animation:glow 2s ease infinite;
    -ms-animation:glow 2s ease infinite;
    -o-animation:glow 2s ease infinite;
    animation:glow 2s ease infinite;
}

.moveNormal{
    -webkit-animation:moveNormal 3s ease infinite;
    -moz-animation:moveNormal 3s ease infinite;
    -ms-animation:moveNormal 3s ease infinite;
    -o-animation:moveNormal 3s ease infinite;
    animation:moveNormal 3s ease infinite;
}

.moveNew{
    -webkit-animation:moveNormal 3s 2s ease infinite;
    -moz-animation:moveNormal 3s 2s ease infinite;
    -ms-animation:moveNormal 3s 2s ease infinite;
    -o-animation:moveNormal 3s 2s ease infinite;
    animation:moveNormal 3s 2s ease infinite;
}

@keyframes glow{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes spin-reverse {
  0% {transform: scaleX(-1) rotate(-360deg);}
  100% {transform: scaleX(-1) rotate(0deg);}
}

@keyframes moveNormal{
    0%{opacity: 0;right:100%;}
    50%{opacity: 1;right:30%;}
    100%{opacity: 0;right:-100%;}
    /* AQUI ME QUEDEEEEE*/
}