/*!
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
@import 'https://fonts.googleapis.com/css?family=Orbitron';

@font-face {
    font-family: blackOps;
    src: url(../vendor/bootstrap/fonts/blops.ttf) format('truetype');
}
body {
  overflow-x: hidden;
  font-family: 'Orbitron';
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #FF8D00;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none;
}
a {
  color: #FF8D00;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #DF6D00;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Orbitron';
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}

.btn-cancel,.btn-wildcard, .btn-editOrange, .btn-confirmOrange{
  color: white;
  background:#222222;
  border-color: #222222;
}
.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel.active,
.btn-wildcard:hover,
.btn-wildcard:focus,
.btn-wildcard:active,
.btn-wildcard.active{
  color: white;
  background:#444;
  border-color: #444;
}

.btn-editOrange,
.btn-editOrange:hover,
.btn-editOrange:focus,
.btn-editOrange:active,
.btn-editOrange.active,
.btn-confirmOrange,
.btn-confirmOrange:hover,
.btn-confirmOrange:focus,
.btn-confirmOrange:active,
.btn-confirmOrange.active{
  color:#FF8D00;
}

.btn-face{
  color: white;
  background:#3b5998;
  border-color: #3b5998;
}
.btn-face:hover,
.btn-face:focus,
.btn-face:active,
.btn-face.active{
  color: white;
  background:#384888;
  border-color: #384888;
}

.btn-twit{
  color: white;
  background:#1da1f2;
  border-color: #1da1f2;
}
.btn-twit:hover,
.btn-twit:focus,
.btn-twit:active,
.btn-twit.active{
  color: white;
  background:#1990e2;
  border-color: #1990e2;
}

.btn-gplus{
  color: white;
  background:#db4437;
  border-color: #db4437;
}
.btn-gplus:hover,
.btn-gplus:focus,
.btn-gplus:active,
.btn-gplus.active{
  color: white;
  background:#d83327;
  border-color: #d83327;
}

.btn-primary {
  color: white;
  background-color: #FF8D00;
  border-color: #FF8D00;
  /*font-family: blackOps;*/
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #F57B00;
  border-color: #F57B00;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary .badge {
  color: #fed136;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #FF8D00;
  border-color: #FF8D00;
  /*font-family: blackOps;*/
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 20px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #F57B00;
  border-color: #F57B00;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}
.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #fed136;
  font-family: blackOps;
  width:25%;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #FF8D00;
  border-color: #FF8D00;
  font-family: blackOps;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #F57B00;
}
.navbar-custom .nav li a {
  font-family: blackOps;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #dddddd;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #FF8D00;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a, .sidebar-nav>.active,.upbar-nav>.active {
  border-radius: 0;
  color: white;
  background-color: #FF8D00;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #F57B00;
}

#login{cursor: pointer;}
#login + div,#login + ul{padding: 6px;width: 240px;}
#login + div button{width: 100%;margin: 4px auto;text-align: left;}
.nav .open #login{background-color: rgba(0,0,0,0) !important;}

ul.dark{
  background: #333;
  font-size: 10px;
}

ul.dark a:hover{background: #666;}

.logout{cursor: pointer;}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: #222222;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }

  .navbar-custom .nav li ul{display: none;}
  .navbar-custom .nav li:hover ul{
    display: block;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .shade{
  background: rgba(0,0,0,0.1);
  width: 100%;
  height: 100%;
  -webkit-animation:shade 1s 0.5s forwards ease;
  -moz-animation:shade 1s 0.5s forwards ease;
  -ms-animation:shade 1s 0.5s forwards ease;
  -o-animation:shade 1s 0.5s forwards ease;
  animation:shade 1s 0.5s forwards ease;
}
header .intro-text, div .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  /*width: 0.1%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
   overflow: hidden;
  -webkit-animation:briefcase 1s 1s forwards ease;
  -moz-animation:briefcase 1s 1s forwards ease;
  -ms-animation:briefcase 1s 1s forwards ease;
  -o-animation:briefcase 1s 1s forwards ease;
  animation:briefcase 1s 1s forwards ease;*/
}
header .intro-text .intro-lead-in, .noticias .intro-text .intro-lead-in {
  /*font-family: blackOps;*/
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading,.noticias .intro-text .intro-heading {
  /*font-family: blackOps;*/
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  div .intro-text{
    padding-top: 120px;
  }
  header .intro-text{
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    /*font-family: blackOps;*/
    /*font-style: italic;*/
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    /*font-family: blackOps;*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 24px;
  /*font-family: blackOps;*/
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(255, 141, 0, 0.6);
  /*background: rgba(254, 209, 54, 0.9);*/
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  /*font-family: blackOps;*/
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #fed136;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .navbar-nav>li {font-size: 10px !important;}
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
aside.clients img {
  margin: 50px auto;
}
section#contacto {
  background-color: #222222;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contacto .section-heading,.contactForm .section-heading {
  color: white;
}
section#contacto .form-group, .contactForm .form-group {
  margin-bottom: 25px;
}
section#contacto .form-group input,
section#contacto .form-group textarea,
.contactForm .form-group input,
.contactForm .form-group textarea {
  padding: 20px;
}
section#contacto .form-group input.form-control,.contactForm .form-group input.form-control {
  height: auto;
}
section#contacto .form-group textarea.form-control,.contactForm .form-group textarea.form-control {
  height: 236px;
}
section#contacto .form-control:focus,.contactForm .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contacto ::-webkit-input-placeholder,.contactForm ::-webkit-input-placeholder {
  /*font-family: blackOps;*/
  text-transform: uppercase;
  font-weight: 700;
  color: #ccc;
}
section#contacto :-moz-placeholder,.contactForm :-moz-placeholder {
  /* Firefox 18- */
  /*font-family: blackOps;*/
  text-transform: uppercase;
  font-weight: 700;
  color: #ccc;
}
section#contacto ::-moz-placeholder,.contactForm ::-moz-placeholder {
  /* Firefox 19+ */
  /*font-family: blackOps;*/
  text-transform: uppercase;
  font-weight: 700;
  color: #ccc;
}
section#contacto :-ms-input-placeholder,.contactForm :-ms-input-placeholder {
  /*font-family: blackOps;*/
  text-transform: uppercase;
  font-weight: 700;
  color: #ccc;
}
section#contacto .text-danger, .articles .text-danger, .donativoForm .text-danger, form .text-danger, .contactForm .text-danger{
  color: #e74c3c;
}

.perfilForm button{
  margin: 0 1%;
}

.storePrices{background: #222222;}
.storePrices .section-heading{color: white;}
.storePrices h2.section-heading{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: blackOps;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: blackOps;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #FF8D00;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  /*font-family: blackOps;*/
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #fed136;
}
::selection {
  text-shadow: none;
  background: #fed136;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fed136;
}

/**************************************************************************/
/*****************    SIDE CODE GTOCHA STYLE                  *************/
/**************************************************************************/
.gotchalogo{width: 100%;}

.navbar-nav>li{font-size:12px;}
.navbar-brand{
  height: 0px;
  padding: 0;
}

section h3.section-subheading img{width: 20%;}

.formsCont{display: none;}
.teesCont,.formsCont{position: relative;width: 100%;overflow: hidden;}
.teesCont .teesSlider,.formsCont .formsSlide{
  width: 200%;
  margin-left: 0;
  -webkit-transition:margin-left 0.3s ease;
  -moz-transition:margin-left 0.3s ease;
  -ms-transition:margin-left 0.3s ease;
  -o-transition:margin-left 0.3s ease;
  transition:margin-left 0.3s ease;
}
.formsCont .formsSlide{
  -webkit-transition:margin-left 0.5s ease-in;
  -moz-transition:margin-left 0.5s ease-in;
  -ms-transition:margin-left 0.5s ease-in;
  -o-transition:margin-left 0.5s ease-in;
  transition:margin-left 0.5s ease-in;
}

.teesCont .teesSlider img{width: 49%;}

.formsCont .formsSlide form,.formsCont .formsSlide article{display:inline-block;vertical-align:top;width:49.9%;}
.formsCont .responseText{
  text-align: center;
  -webkit-animation:fadeUp 1s 1s ease;
  -moz-animation:fadeUp 1s 1s ease;
  -ms-animation:fadeUp 1s 1s ease;
  -o-animation:fadeUp 1s 1s ease;
  animation:fadeUp 1s 1s ease;
}
.formsCont .responseText p{
  width: 60%;
  font-size: 18px;
  margin: 0 auto;
}

.donativoForm h3{text-align: right;}
.donativoForm .merch{width: 100%;}
.donativoForm #mercancia,.donativoForm .agregarMerch{display: inline-block;vertical-align: top;}
.donativoForm #mercancia{width: 94%;}

.verificarForm p{width: 40%;color: #e74c3c;margin: 0 auto;}
.verificarForm #autorizacion{width: 50%;}
.verificarForm .voucher{font-size: 16px;}


.service-heading .selected{border-color: #adadad;background: #e6e6e6;}

.articles figure,.articlesConf figure{  
  display: block;
  position: relative;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  -webkit-animation:slideLeft 0.5s ease;
  -moz-animation:slideLeft 0.5s ease;
  -ms-animation:slideLeft 0.5s ease;
  -o-animation:slideLeft 0.5s ease;
  animation:slideLeft 0.5s ease;
}
.articles figure .quitar{position: absolute;right: 4px;top:4px;padding: 4px;z-index: 10;}

.articles figure aside,.articlesConf figure aside{padding: 8px;font-size: 24px;width: 75%;position: relative;}
.articlesConf figure aside{width: 74%;text-align: right;}
.articles figure aside #talla{width: 15%;display: inline-block;vertical-align: middle;margin-left: 1%;}
.articles figure img,.articlesConf figure img{width: 25%;}
.articles figure img, .articles figure aside,.articlesConf figure img,.articlesConf figure aside{display: inline-block;vertical-align: middle;}
.articles figure .qty{float:right;}
.articles figure input.cant{width: 60px;text-align: center;}

.panel-body .total{
  float: right;
  font-size: 30px;
}

.onlybigboss{display: none;margin-top: 50px;}

.pedido .dropdown-menu{width: 300px;padding: 8px;}

.firstTime h3, .firstTime h2{text-align: center;}

.floatRight{float:right;}

.nav-tabs>li{font-size: 20px;}
.nav-tabs>li>a:focus,.nav-tabs>li>a:hover,.nav-tabs>li.active>a{color: white !important;background:#FF8D00 !important;}

.tab-content{border-bottom:1px solid #ccc;padding-bottom: 15px;}

.editarPerfil{cursor: pointer;padding: 15px;}
.perfilCard{font-size: 20px;}

#direcciones>.row,#cuentas>.row{padding-top: 20px;}
#direcciones>.row>div,#cuentas>.row>div{border: 1px solid #222222;}
.dirFig,.ctaFig{padding:0;}
.dirFig>.row,.ctaFig>.row{padding: 10px 15px;background: #222222; color: white;}
.agregarDireccion,.agregarCuenta{background: #222222; color: white;padding:0 15px;text-align: center;cursor: pointer;}
.agregarDireccion:hover,.agregarCuenta:hover{background: #444;}
.editarDireccion,.borrarDireccion,.editarCuenta,.borrarCuenta{
  cursor: pointer;
  margin-left: 4%;
  -webkit-transition:transform 0.3s ease;
  -moz-transition:transform 0.3s ease;
  -ms-transition:transform 0.3s ease;
  -o-transition:transform 0.3s ease;
  transition:transform 0.3s ease;
}
.editarDireccion:hover,.borrarDireccion:hover,.editarCuenta:hover,.borrarCuenta:hover{
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -ms-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform:scale(1.2);
}

.dirForm button,.editDirForm button, .ctaForm button,.editCtaForm button{width: 100%;margin:8px 0;display: block;}

.signIn{
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  margin-top: 30px;
}

.side-wrapper{
  z-index: 1000;
    position: fixed;
    left: 0;
    top:70px;
    width: 200px;
    height: 50%;
    margin-left: 0;
    overflow-y: auto;
    background: #222222;
    color: white;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav{
  position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 30px 0 0 0;
    list-style: none;
}
.sidebar-nav li, .upbar-nav li{
  padding: 6px 4%;
  border-left: 0px solid  #FF8D00;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.upbar-nav li{width: 49%; display: inline-block;}
.sidebar-nav li a, .subMenu li a, .upbar-nav li a{
  display: block;
  width: 100%;
  color: white;
  font-size: 24px;
}

.upbar-nav li a{font-size: 18px;}
.subMenu li a{font-size: 16px;}
.sidebar-nav li a:hover,.sidebar-nav li a:focus,.upbar-nav li a:hover,.upbar-nav li a:focus{text-decoration: none;}
.sidebar-nav li:hover,.sidebar-nav li:active,.upbar-nav li:hover,.upbar-nav li:active{
  border-left: 8px solid  #FF8D00;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav .subMenu{
  position: relative;
  display: block;
  height: 0;
  width: 100%;
  padding: 0;
  background: none;
  list-style: none;
}

.sidebar-nav .subMenu li{
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  opacity: 0;
  background: none;
  border: none;
  z-index: -100;
}
.sidebar-nav li:hover .subMenu{height: auto;}
.sidebar-nav li:hover .subMenu li{
  height: 26px;
  opacity:1;
  z-index: 0;
}
.subMenu li:hover{padding-left: 25%;}

.up-wrapper{
  display: none;
  position: relative;
  padding-top:30px;
  background: #222222;
}
.upbar-nav{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 30px 0 0 0;
  list-style: none;
}

.noticias{background: #222222;}
.noticias .intro-text{color: #ddd; text-align: center;}

.running{
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  transform:rotateY(180deg);
}

.cornerRight,.cornerRightBottom,.cornerRightTop{position: absolute;right: 10px;}
.cornerRightBottom{bottom:10px;}
.cornerRightTop{top:10px;}

.searchContainer{padding-top: 115px;background: #222222;}

.searchForm{margin-bottom: 20px;}

.sortCategorias{
  background: #eee;
}
.sortCategorias figure{
  cursor: pointer;
  padding: 6px;
  border-bottom:1px solid #ccc;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}
.sortCategorias figure:last-child{border-bottom: none;}
.sortCategorias figure i{
  -webkit-transition:transform 0.3s ease;
  -moz-transition:transform 0.3s ease;
  -ms-transition:transform 0.3s ease;
  -o-transition:transform 0.3s ease;
  transition:transform 0.3s ease;
}
.sortCategorias figure.active,.sortCategorias figure:hover{background: #FF8D00;color:#ddd;padding-left: 20px;}
.sortCategorias figure.active i{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sortCategorias figure.subcatego.active{background: #E17C00;}

.sortProducts{margin-top: 20px;}
.sortProducts .producto{margin-bottom: 30px;height: 220px;}
.sortProducts .producto img{width: 160px;display: block;margin: 0 auto;}

.pageControls{text-align: center;}
.pageControls .pagination > li > a{color: #FF8D00;}
.pageControls .pagination > li > a:hover, 
.pageControls .pagination > li > span:hover, 
.pageControls .pagination > li > a:focus, 
.pageControls .pagination > li > span:focus{
  background: #FF8D00;
  color: #ddd;
}

.carrito .dropdown-menu{
  right: 0 !important;
  left:auto !important;
  width: 300px;
}
.carrito .dropdown-menu li a{width: 90%;display: inline-block;vertical-align: top;}
.carrito .dropdown-menu li img{
  width: 70px; vertical-align: top;
}
.carrito .dropdown-menu aside{
  width: 5%;
  display: inline-block;
  vertical-align: top;
  color: #ccc;
}
.carrito .dropdown-menu aside i{cursor: pointer;}
.carrito .dropdown-menu aside i:hover{color: #333;}
.carrito .dropdown-menu h6{text-align: center;}
.carrito .dropdown-menu .wrapped{    
    display: inline-block;
    width: 75%;
    vertical-align: top;
    white-space: normal !important;}

.toCheckout{
  display:block !important;width:60% !important;margin:10px auto;color: white !important;
}
.toCheckout:hover{
  background-color: #F57B00 !important;
  border-color: #F57B00 !important;
}

.prodPreview,.description,.toCart{margin-top: 30px;}
.prodPreview .thumbs{width: 10%;margin-top: 20px;display: inline-block;vertical-align: top;}
.prodPreview .thumbs img{cursor:pointer;width: 40px;border: 1px solid #ddd;display: block;margin: 0 auto 10px auto;}
.prodPreview .thumbs img:hover,.prodPreview .thumbs img.active{border:1px solid #FF8D00;box-shadow: 0px 0px 3px 2px rgba(228,121,17,0.5);}
.prodPreview .viewer{display: inline-block;vertical-align: top;width: 89%;margin-top: 20px;}

.description,.toCart{padding-top: 20px;}

.description .prodData>li{font-size: 16px;}
.description #descripcion,.description #video{padding-top: 20px;}
.description #video video{margin: 0 auto; width:90%;display: block;}

.toCart aside{background: #ddd;padding:15px 0;}
.toCart aside button{display: block;margin: 0 auto;}
.toCart .sociales{font-size: 16px; vertical-align: middle;padding: 8px 0;background: #222222; color: #ddd;text-align: center;}
.toCart .sociales i{font-size: 24px; vertical-align: middle;margin: 0 4px;}
.toCart .sociales i:hover{color: #FF8D00;}

@media  screen and (min-width: 320px) and (max-width: 480px){
  /*************************   PARTE PORTADA **********************/
  body{width: 100%;}
  .navbar-custom .navbar-brand{width: 50%;}
  #mainNav{width: 100%;}
  section h2.section-heading{font-size: 24px}
  header .intro-text .intro-heading{font-size: 20px;}
  section h3.section-subheading img{width: 100%;}
  .donativoForm #mercancia{width: 84%;}

  .verificarForm #autorizacion{width: 100%;margin-bottom: 20px !important;}
  .verificarForm .voucher{font-size: 20px;}
  .donativoForm .submission,.donativoForm .limpiar,.donativoForm .cancelar{margin: 8px auto;width: 99%;}

  .articles figure img, .articlesConf figure img,.articles figure aside, .articlesConf figure aside{width: 100%;margin-top: 20px;}
  .articles figure aside #talla{width: 25%;}
  .formsCont .formsSlide form, .formsCont .formsSlide article{width: 49.7%;}

  .confirmarPedido .back,.confirmarPedido .checkout{
    font-size: 20px;
    margin: 0 auto;
    display: block;
  }
  .confirmarPedido h3{text-align: center;}

  #compra .row.text-center div{margin-bottom: 20px;padding-bottom:20px;border-bottom: 1px solid #ddd;}
  footer .row div{font-size: 12px;}
  /************************ FIN PARTE PORTADA  ********************/

  /************************ PARTE PERFIL    ***********************/
  .nav-tabs > li > a{font-size: 12px;padding: 6px;}
  .perfilForm button{display: block; margin: 8px auto; width: 100%;}
  /************************ FIN PARTE PERFIL **********************/

  /******************* PARTE COMPRAS / VENTAS  ********************/
  .searchContainer{padding-top: 70px;padding-bottom: 20px;}
  .carrito,.carrito button,.carrito .dropdown-menu{width: 100%;}
  .sortProducts .producto{height: auto;margin-bottom: 10px;border-bottom: 1px dashed #222222;}
  .sortProducts .producto img{width: 33%;display: inline-block;vertical-align: top;margin-right: 2%;}
  .sortProducts .producto aside{width: 63%;display: inline-block;vertical-align: top;}
  /***************** FIN PARTE COMPRAS / VENTAS  ******************/

  /****************** PARTE COMPRAS / PRODUCTO  *******************/
  .prodPreview > .row {width: 100%; text-align: center;}
  .prodPreview .thumbs,.prodPreview .viewer{width: 100%;}
  .prodPreview .thumbs img{width: 60px;display: inline-block;vertical-align: top;margin: 4px 2%;}
  .prodPreview, .description, .toCart{margin-top: 10px;padding-top: 0;}
  .toCart aside button{width: 80%;}
  .toCart .sociales i{font-size: 36px; margin: 0 16px;}
  /**************** FIN PARTE COMPRAS / PRODUCTO  *****************/
}
@media  screen and (min-width: 481px) and (max-width: 767px){
  /*************************   PARTE PORTADA **********************/
  header .intro-text .intro-heading{font-size: 28px;}
  section h3.section-subheading img{width: 50%;}

  .verificarForm #autorizacion{width: 70%;}

  .donativoForm #mercancia{width: 90%;}
  .donativoForm .submission,.donativoForm .limpiar,.donativoForm .cancelar{font-size: 12px}

  .formsCont .formsSlide form, .formsCont .formsSlide article{width: 49.6%;}

  .confirmarPedido .back,.confirmarPedido .checkout{
    font-size: 20px;
    margin: 0 auto;
    display: block;
  }
  .confirmarPedido h3{text-align: center;}

  #compra .row.text-center div{margin-bottom: 20px;padding-bottom:20px;border-bottom: 1px solid #ddd;}
  /************************ FIN PARTE PORTADA  ********************/

  /************************ PARTE PERFIL    ***********************/
  .nav-tabs > li > a{font-size: 18px;}
  .perfilForm button,.editDirForm button, .dirForm button, .ctaForm button, .editCtaForm button{display: inline-block; margin: 8px 0.8%; width: 31%;}
  /************************ FIN PARTE PERFIL **********************/

  /******************* PARTE COMPRAS / VENTAS  ********************/
  .searchContainer{padding-bottom: 20px;padding-top: 70px;}
  .carrito{width: 50%;margin-left: 25%;}.carrito button,.carrito .dropdown-menu{width: 100%;}
  .sortProducts .producto{height: auto;margin-bottom: 10px;border-bottom: 1px dashed #222222;padding-bottom: 10px;}
  .sortProducts .producto img{width: 33%;display: inline-block;vertical-align: top;margin-right: 2%;}
  .sortProducts .producto aside{width: 63%;display: inline-block;vertical-align: top;}
  /***************** FIN PARTE COMPRAS / VENTAS  ******************/
  
  /****************** PARTE COMPRAS / PRODUCTO  *******************/
  .prodPreview > .row {width: 100%; text-align: center;}
  .prodPreview, .description, .toCart{margin-top: 10px;padding-top: 0;}
  .toCart aside button{width: 80%;}
  .toCart .sociales i{font-size: 36px; margin: 0 16px;}
  /**************** FIN PARTE COMPRAS / PRODUCTO  *****************/
}
@media  screen and (min-width: 768px) and (max-width: 991px){
  .navbar-nav>li {font-size: 7px;}
  .nav > li > a{padding: 10px;}
  ul.dark{font-size: 7px;}

  .verificarForm #autorizacion{width: 70%;}

  .donativoForm {width: 100%;}
  .donativoForm .submission,.donativoForm .limpiar,.donativoForm .cancelar{margin: 8px auto;width: 99%;}
  .donativoForm #mercancia{width: 87%;}

  .formsCont .formsSlide form, .formsCont .formsSlide article{width: 49.8%;}

  .confirmarPedido h3{text-align: center;}
  .confirmarPedido .back,.confirmarPedido .checkout{
    font-size: 12px;
    margin: 0 auto;
    display: block;
  }

}

/**************************************************************************/
/*****************    ANIMATIONS AND PARALAX TRANSITIONS      *************/
/**************************************************************************/
.slideLeft{
  -webkit-animation:slideLeft 0.8s 0.3s forwards ease;
  -moz-animation:slideLeft 0.8s 0.3s forwards ease;
  -ms-animation:slideLeft 0.8s 0.3s forwards ease;
  -o-animation:slideLeft 0.8s 0.3s forwards ease;
  animation:slideLeft 0.8s 0.3s forwards ease;
}

.slideRight{
  -webkit-animation:slideRight 0.8s 0.3s forwards ease;
  -moz-animation:slideRight 0.8s 0.3s forwards ease;
  -ms-animation:slideRight 0.8s 0.3s forwards ease;
  -o-animation:slideRight 0.8s 0.3s forwards ease;
  animation:slideRight 0.8s 0.3s forwards ease;
}

.fadeSlideRight{
  -webkit-animation:fadeSlideRight 0.8s 0.3s forwards ease;
  -moz-animation:fadeSlideRight 0.8s 0.3s forwards ease;
  -ms-animation:fadeSlideRight 0.8s 0.3s forwards ease;
  -o-animation:fadeSlideRight 0.8s 0.3s forwards ease;
  animation:fadeSlideRight 0.8s 0.3s forwards ease;
}

.fadeUp{
  display: block;
  -webkit-animation:fadeUp 1s forwards ease;
  -moz-animation:fadeUp 1s forwards ease;
  -ms-animation:fadeUp 1s forwards ease;
  -o-animation:fadeUp 1s forwards ease;
  animation:fadeUp 1s forwards ease;
}

.fadeDown{
  -webkit-animation:fadeDown 1s forwards ease;
  -moz-animation:fadeDown 1s forwards ease;
  -ms-animation:fadeDown 1s forwards ease;
  -o-animation:fadeDown 1s forwards ease;
  animation:fadeDown 1s forwards ease;
}

.blurUp{
  -webkit-animation:blurUp 1s forwards ease;
  -moz-animation:blurUp 1s forwards ease;
  -ms-animation:blurUp 1s forwards ease;
  -o-animation:blurUp 1s forwards ease;
  animation:blurUp 1s forwards ease;
}

@keyframes shade{
  from{background: rgba(0,0,0,0.1);}
  to{background: rgba(0,0,0,0.7);}
}

@keyframes briefcase{
  from{width: 0.1%;}
  to{width: 100%}
}

@keyframes slideLeft{
  from{opacity: 0;margin-left: 25%;}
  to{opacity: 1;margin-left: 0;}
}

@keyframes slideRight{
  from{opacity: 0;margin-right: 25%;}
  to{opacity: 1;margin-right: 0;}
}

@keyframes fadeUp{
  from{opacity: 0;margin-top: 50px;}
  to{opacity: 1;margin-top: 0;}
}

@keyframes fadeDown{
  from{opacity: 1;margin-top: 0;}
  to{opacity: 0;margin-top: 50px;}
}

@keyframes blurUp{
  from{opacity: 0; margin-top:0;}
  to{opacity: 0; margin-top: -100%;}
}

@keyframes fadeSlideRight{
  from{opacity: 1;margin-left:0; }
  to{opacity: 0;margin-left: 20%;}
}